@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
    color: #505A5B;
    font-family: 'Nunito', sans-serif;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}


body {
    background-color: #F7F7FF;
}

h1, h2 {
    color: #279AF1;
    font-family: "Courier New";
}

button {
    background-color: #F7F7FF;
    border-radius: 6px;
    border: none;
    padding: 10px;
    box-shadow:  3px 3px 7px #d2d2d9,
    -3px -3px 7px #ffffff;
    outline: none;
}

table {
    border-collapse: collapse;
    background-color: #F7F7FF;
    border-radius: 4px;
    border: none;
    padding: 10px;
    box-shadow:  3px 3px 7px #d2d2d9,
    -3px -3px 7px #ffffff;
}

table td {
    border: none !important;
    border-top: 1px solid black !important;
}

table th, table td {
    padding: 10px;
}

button:hover {
    cursor: pointer;
    color: #279AF1;
}

button:focus {
    color: #279AF1;
}

button:active {
    color: #279AF1;
    box-shadow: inset 3px 3px 7px #d2d2d9,
    inset -3px -3px 7px #ffffff;

}

button:disabled {
    color: #279AF1;
    cursor: default;
    box-shadow: none;
}

.select2-results__option{
    color: #2F323A;
}

.error-message {
    color: #EE6352;
}

.success-message {
    color: #0C7C59;
}

#languages-used {
    width: 300px;
}

#programming-types {
    width: 300px;
}

#submissions-table td {
    border: 1px black solid;
}

.horiz-scroll {
    overflow-x: auto;
}

@media screen and (min-width: 768px) {
    #languages-used {
        width: 450px;
    }

    #programming-types {
        width: 450px;
    }
}

.select2-results__option {
    color: #505A5B !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #ededf5 !important;
    color: #279AF1 !important;
    border-radius: 6px !important;
}

.select2-container--default .select2-selection--multiple {
    border: none !important;
    border-radius: 6px !important;
    background: #F7F7FF !important;
    box-shadow: inset 3px 3px 7px #d2d2d9,
    inset -3px -3px 7px #ffffff;
    padding: 10px;
}

.select2-dropdown {
    outline: none !important;
    border: none !important;
    border-radius: 6px !important;
    background: #F7F7FF !important;
    box-shadow:  3px 3px 7px #d2d2d9,
    -3px -3px 7px #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 2px;
    outline: none !important;
    border: none !important;
    border-radius: 6px !important;
    background: #F7F7FF !important;
    box-shadow:  3px 3px 7px #d2d2d9,
    -3px -3px 7px #ffffff;
    margin-bottom: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border: none !important;
    box-shadow: none;
}

input, textarea {
    border: none;
    border-radius: 6px;
    background: #F7F7FF;
    box-shadow: inset 3px 3px 7px #d2d2d9,
    inset -3px -3px 7px #ffffff;
    padding: 10px;
}

input:focus, textarea:focus {
    outline: none;
    border: none;
    border-radius: 6px;
    background: #F7F7FF;
    box-shadow:  3px 3px 7px #d2d2d9,
    -3px -3px 7px #ffffff;
}

input[type=file] {
    padding: 10px;
    outline: none;
    box-shadow: none;
}

input::file-selector-button {
    outline: none;
    border: none;
    border-radius: 6px;
    background: #F7F7FF;
    box-shadow:  3px 3px 7px #d2d2d9,
    -3px -3px 7px #ffffff;
    padding: 10px;
    color: #505A5B;
    margin-right: 10px;
}

input::file-selector-button:hover {
    cursor: pointer;
    color: #279AF1;
}

input:focus::file-selector-button {
    color: #279AF1;
}

input:active::file-selector-button {
    border: none;
    outline: none;
    border-radius: 6px;
    background: #F7F7FF;
    box-shadow: inset 3px 3px 7px #d2d2d9,
    inset -3px -3px 7px #ffffff;
    padding: 10px;
}